h1 {
    font-size: large;
    font-weight: bold;
}


.carrito {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid black;
}

.contador {
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    
    & button{
        border: solid black;
        border-radius: 5px;
        background-color: red;
        width: 150px;
    }

}