h1 {
    font-size: large;
    font-weight: bold;
}


.carrito {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid black;
    
}

.contador {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    
    & button{
        border: solid black;
        border-radius: 5px;
        background-color: red;
        width: 100px;
    }

}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.detalle{
    display: flex;
    justify-content: center;
}
